# Configuración del servidor
PORT=5000
FLASK_ENV=development

# Seguridad
SECRET_KEY=tu_clave_secreta_aqui
ADMIN_USER=admin1
ADMIN_PASSWORD=tu_password_segura

# Rate Limiting
RATELIMIT_STORAGE_URL=memory://
RATELIMIT_DEFAULT=200/day;50/hour
RATELIMIT_HEADERS_ENABLED=true

# Base de datos
DATABASE_PATH=tennis.db 